<div class="sidebar">

    <div class="div-btn-sidebar">
        <a routerLink="/dashboard">Acceuil</a><br>
    </div>
    <div class="div-btn-sidebar">
        <a routerLink="/clients">Clients</a><br>
    </div>
    <div class="div-btn-sidebar">
        <a routerLink="/factures">Factures</a><br>
    </div>
    <div class="div-btn-sidebar">
        <a routerLink="/paiements">Paiements</a><br>
    </div>
    <div class="div-btn-sidebar">
        <a routerLink="/depenses">Dépenses</a><br>
    </div>
    <div class="div-btn-sidebar">
        <a routerLink="/entreprises">Entreprises</a><br>
    </div>

</div>